* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fdfbf5;
  color: black;
}

body {
  padding: 1rem;
}

main {
  padding: 1rem;
  border: 1px black solid;
  width: 100%;
}

@mixin light-font {
  font-weight: 300;
  font-size: 1rem;
}

::selection {
  background-color: black;
  color: #fdfbf5;
}

.line {
  width: inherit;
  height: 1px;
  background-color: black;
  margin: 2rem 0;
}

.roboto {
  font-family: "Roboto Mono", serif;
}

.syne {
  font-family: "Syne", serif;
}

.satoshi {
  font-family: "Satoshi", sans-serif;
}

.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    @include light-font();
  }

  h1 {
    font-weight: 500;
    font-size: 4rem;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}

.view-2 {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    p {
      @include light-font();
    }

    h1 {
      font-weight: 500;
      font-size: 3rem;
    }

    button {
      width: fit-content;
      padding: 0.5rem 1rem;
      background-color: black;
      color: #fdfbf5;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;

    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      svg {
        width: 3.5rem;
        aspect-ratio: 1 / 1;
      }

      h1 {
        font-weight: 500;
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }
}

.view-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 300;
    }

    p {
      font-weight: 200;
      font-size: 1.2rem;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: "a" "b" "c" "d";
    gap: 1rem;
    width: 100%;

    .a {
      grid-area: "a";
    }

    .b {
      grid-area: "b";
    }

    .c {
      grid-area: "c";
    }

    .d {
      grid-area: "d";
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      .video-container {
        video {
          width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}

.view-4 {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    svg {
      width: 3.5rem;
      aspect-ratio: 1 / 1;
    }

    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 500;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    p {
      font-size: 1.5rem;
      font-weight: 300;
    }

    button {
      width: fit-content;
      padding: 0.5rem 1rem;
      background-color: black;
      color: #fdfbf5;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
    }
  }

  .line2 {
    display: hidden;
  }

  .line {
    display: block;
  }
}

.view-5 {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .logos {
      display: flex;
      gap: 1.5rem;

      svg {
        width: 5.5rem;
        aspect-ratio: 1 / 1;
      }
    }

    p {
      font-weight: 300;
      font-size: 1.2rem;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      align-self: flex-end;
      align-self: flex-start;
      margin-top: 2rem;

      button {
        padding: 0.5rem;
        border-radius: 50px;
        border: 1px solid black;
        background-color: #fdfbf5;
        width: fit-content;
        transition: all ease-in 0.3s;
        font-size: 1rem;

        &:hover {
          background-color: black;
          color: #fdfbf5;
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: black;
  }

  .line2 {
    display: none;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      h1 {
        font-size: 2.2rem;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
          font-size: 1rem;
          font-weight: lighter;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

.view-6 {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      text-align: center;
      a {
        color: black;
      }
    }
  }
}

@media (min-width: 800px) {
  .view-5 {
    height: auto;
    flex-direction: row;

    .line {
      display: none;
    }

    .line2 {
      display: block;
      height: 100%;
      min-height: 20rem;
      width: 1px;
      background-color: black;
      flex-grow: 1;
      align-self: stretch;
    }

    .top {
      width: 30%;
    }

    .bottom {
      width: 70%;
      flex-direction: row;
    }
  }
}

@media (min-width: 1020px) {
  .view-1 {
    h1 {
      font-size: 7rem;
    }
  }

  .view-2 {
    flex-direction: row;

    .line {
      height: initial;
      width: 1px;
    }

    .top {
      width: 60%;
      position: relative;

      h1 {
        font-size: 5rem;
      }

      button {
        position: absolute;
        bottom: 0;
        font-size: 1rem;
      }
    }

    .bottom {
      width: 40%;

      .card {
        padding: 2rem;
        .line {
          height: 1px;
          width: 100%;
          align-self: stretch;
        }
      }
    }
  }

  .view-3 {
    flex-direction: row;

    .bottom {
      grid-template-columns: 2;
      grid-template-areas:
        "a b"
        "c d";
    }

    .line {
      height: initial;
      width: 1px;
    }

    .top {
      width: 40%;

      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .bottom {
      width: 60%;
    }
  }

  .view-4 {
    flex-direction: row;

    .line2 {
      height: initial;
      width: 1px;
      background-color: black;
    }

    .left {
      width: 60%;

      svg {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 6.5rem;
      }

      p {
        font-size: 1.25rem;
      }
    }

    .right {
      width: 40%;
      position: relative;

      p {
        font-size: 2rem;
      }

      button {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .view-5 {
    .bottom {
      .card {
        .links {
          a {
            font-size: 1.2rem;
            transition: all ease-in 0.4s;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .view-6 {
    .footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
